ol,ul
{
    list-style: none;
}

.main_content {
    width: 100%;
    position: relative;
    font-family: 'consolas';
    overflow: hidden;
    transition: all 150ms linear;
    z-index: 1;
}

.inner_content{
    height: 100%;
    overflow: hidden;
    transition: all 150ms linear;
    min-height: 100vh;
}

.page_content{
    position: relative;
    height: 100%;
    padding: 7px;
    overflow: hidden;
    padding-bottom: 40px;
    transition: all 150ms linear;
    border: 1px solid var(--main-bor-clr);
}

.page_content{
    margin-left: 310px;
    transition: all 150ms linear;
}

.active.page_content {
    margin-left: 0px;
    transition: all 150ms linear;
}

.page_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 5px 10px;
    border: 1px solid var(--main-bor-clr);
    margin-bottom: 10px;
    position: relative;
}

.bread_crumb{
    height: 100%;
    display: flex;
    position: relative;
    top: 6px;
    z-index: 1;
}

.bread_crumb li {
    color: #e84118;
    font-size: 14px;
}

.bread_crumb li+li:before {
    padding-left: 10px;
    color: #8ac832;
    content: "/\00a0";
}

.bread_active{
    color: #8ac832;
}

/*table content*/
.sidebar_head{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar_head_box{
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar_head_box .side_box{
    margin: 0px 5px;
}

.sidebar_head_box .side_box span{
    margin-right: 5px;
}

.sidelogo{
    border-radius: 50%;
    margin: 0 5px;
    width: 50px;
    height: 50px;
}

.side_box span:nth-child(1) {
    font-size: 18px;
    color: #e84118;
}

.side_box div {
    display: flex;
    align-items: center;
}

/*sidebar*/
.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background-image: linear-gradient(to right top, #000000, #100e0e, #1a1817, #22211e, #292a26);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #ffbc00, #ff9a08, #ff7624, #ff4c39, #ff004e);
    outline: 1px solid slategrey;
}

.sidebar{
    background-color: #1f2326;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    width: 310px;
    z-index: 600;
    overflow-y: scroll;
    transition: all 150ms linear;
    padding-bottom: 130px;
}

.active.sidebar{
    transform: translateX(-310px);
    transition: all 150ms linear;    
}
/*sidebar*/

/*table content*/
.table_content{
    background: url('../../../files/system/image/decor.png') center center;
    height: 96.7%;
    padding: 10px 10px 40px 10px;
    border: 1px solid var(--main-bor-clr);
}

.table_content_head{
    padding: 10px;
    border: 1px solid var(--main-bor-clr);
    margin-bottom: 7px;
}

.table_content_head .nav-tab{
    display: flex;
    justify-content: center;
    width: 100%;
}

.table_content_head .nav-tab li{
    padding: 0 15px;
}

.nav-tab li a{
    color: var(--main-clr) !important;
}

.nav-tab li a img{
    width: 15px;
}
/*table content*/



/*notice*/

/*notice*/
.notice .card-body::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

.notice .card-body::-webkit-scrollbar-track {
    background-image: linear-gradient(to right top, #000000, #100e0e, #1a1817, #22211e, #292a26);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.notice .card-body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #ffbc00, #ff9a08, #ff7624, #ff4c39, #ff004e);
    outline: 1px solid slategrey;
    min-height: 10px;
}

/*notice*/
.notice {
    margin: 10px auto;
    width: 90%;
    transition: all .2s linear;
}

.notice .card {
    background: #080C0F;
}

.notice-card-body {
    scroll-behavior: smooth;
    height: 320px;
}

.notice .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.card-header-img-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: .5;
}

.card-header-img {
    width: 100%;
    height: 100%;
}

.not-card-header-title-box {
    position: absolute;
    display: flex;
    align-items: center;
    width: 92%;
}

.not-card-btn {
    width: 20%;
}

.not-card-btn:hover .not-card-img {
    transition: all .2s linear;
}

.not-card-img {
    box-shadow: 0px 0px 3px 2px #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .2s linear;
}

.not-card-img-ani {
    animation: notice 5s ease-in-out infinite;
}

@keyframes notice {
    20% {
        box-shadow: 0px 0px 6px 3px #fff;
    }

    70% {
        box-shadow: 0px 0px 9px 5px #fff;
    }
}

.not-card-head {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.not-card-head span {
    color: #fff;
}

.notice-card-body .card-body {
    background: #080C0F !important;
    max-height: 320px;
    overflow-x: hidden;
    overflow: scroll;
}

.not-card-content {
    margin-bottom: 15px;
    overflow: hidden;
}

.notice-card-body .card-content-head {
    display: flex;
    flex-direction: column;
}

.notice-card-body .card-content-head div:nth-child(1) {
    color: #c0ff5e;
    font-weight: bold;
    font-size: 12px;
}

.notice-card-body .card-content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.not-card-content .card-content .card-content-url-box {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.not-card-content .card-content .card-content-url {
    color: #c0ff5e !important;
    font-weight: bold;
    font-size: 13px;
}

.not-card-content .card-content {}

.not-card-content .card-content-inner {}

.card-content-inner span {
    font-size: 14px;
    letter-spacing: -1px;
}


.not-card-content .notice-card-img-box {
    width: 100%;
    overflow: hidden;
    margin: 5px 0;
}

.not-card-content .notice-card-img {
    width: 100%;
    height: 100%;
}

.not-card-content .notice-card-img-hr-under {
    padding: 0;
    margin: 5px 0;
    background: #8ac832 !important;
    opacity: .5;
}
